<h1>Dashboard</h1>
<div class="login-container">
  <div>
    <h2></h2>
    <p></p>
    <ol>
      <span> </span>
    </ol>
  </div>
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Goal 1</h5>
      <h6 class="card-subtitle mb-2 text-muted">Description</h6>
      <li class="card-text">habit</li>
      <li class="card-text">habit</li>
      <li class="card-text">habit</li>
      <a href="#" class="card-link">Add</a>
      <a href="#" class="card-link">Delete</a>
    </div>
  </div>
  <!-- <br />
  <div>
    <h2>Goal 2</h2>
    <p>Description</p>
    <ol>
      <li>habit</li>
      <li>habit</li>
      <li>habit</li>
    </ol>
  </div>

  <br />
  <div>
    <h2>Goal 3</h2>
    <p>Description</p>
    <ol>
      <li>habit</li>
      <li>habit</li>
      <li>habit</li>
    </ol>
  </div> -->
</div>
