<h1>Dashboard</h1>
<div class="login-container">
  <div>
    <h2>Goal 1</h2>
    <p>Description</p>
    <ol>
      <li>habit</li>
      <li>habit</li>
      <li>habit</li>
    </ol>
  </div>
  <br />
  <div>
    <h2>Goal 2</h2>
    <p>Description</p>
    <ol>
      <li>habit</li>
      <li>habit</li>
      <li>habit</li>
    </ol>
  </div>

  <br />
  <div>
    <h2>Goal 3</h2>
    <p>Description</p>
    <ol>
      <li>habit</li>
      <li>habit</li>
      <li>habit</li>
    </ol>
  </div>
</div>
