h1 {
  text-align: center;
  font-weight: 300;
}
p {
  text-align: center;
}
.login-container {
  display: flex;
  justify-content: center;
}
.card-subtitle {
  color: #2b580c;
}
.card-link {
  color: #2b580c;
}
#cardLink2 {
  color: #d36239;
}
.display4 {
  --bs-body-font-family: var(--bs-font-sans-serif);
}
