<body class="third-color">
  <div class="waviy">
    <h2 class="first-color">
      <span style="--i: 1">G</span>
      <span style="--i: 2">r</span>
      <span style="--i: 3">o</span>
      <span style="--i: 4">w</span>
      <span style="--i: 5">t</span>
      <span style="--i: 6">h</span>
      <span style="--i: 7">A</span>
      <span style="--i: 8">p</span>
      <span style="--i: 9">p</span>
    </h2>
  </div>

  <img
    src="http://1.bp.blogspot.com/__kMkq-HsrsI/TJtV_hTRMcI/AAAAAAAAAG0/vFkq4izMALA/s1600/IMG_7048+1.jpg"
  />
  <h3 class="first-color">
    "Divide each difficulty into as many parts as is feasible and necessary to
    resolve it." -Rene Descartes
  </h3>
</body>
<button type="button">Spotify</button>
