h2 {
  color: #33484d;
}
h3 {
  font-family: "Tiro Tamil", serif;
}
body {
  text-align: center;
  border-style: solid;
  border-color: #33484d;
  border-width: thick;
  background-color: #33484d;
}
img {
  height: 200px;
}

.text {
  color: #33484d;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.first-color {
  background: #ebbf58;
  margin: auto;
}

.second-color {
  background: #769353;
}

.third-color {
  background-color: #3d655d;
  margin-bottom: 50px;
}

.fourth-color {
  background: #33484d;
}
