h2 {
  font-family: "Libre Caslon Display", serif;
  color: #33484d;
  font-weight: 600;
  font-size: 50px;
}
h3 {
  font-family: "Libre Caslon Display", serif;
  font-weight: 650;
}
body {
  text-align: center;
  border-style: solid;
  border-color: #33484d;
  border-width: thick;
  background-color: #33484d;
}
img {
  height: 200px;
}

button {
  border-radius: 25px;
  border: 2px solid #d36239;
  background: #2b580c;
  color: #fff;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  line-height: 22px;
  padding: 16px 24px;
  text-decoration: none;
  transition: all 200ms ease;
  box-shadow: rgb(37 39 89 / 8%) 0px 8px 8px 0;
}

.text {
  color: #33484d;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.first-color {
  background: #ebbf58;
  margin: auto;
}

.second-color {
  background: #769353;
}

.third-color {
  background-color: #3d655d;
  margin-bottom: 50px;
}

.fourth-color {
  background: #33484d;
}
button:hover {
  background: #1db954;
  border: 2px solid #2b580c;
  transform: rotate(360deg);
}
.waviy {
  position: relative;
}
.waviy span {
  position: relative;
  display: inline-block;
  animation: flip 4s;
  animation-delay: calc(0.2s * var(--i));
}
@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}
