<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Goals Page</h1>
    <br />
    <p class="lead">Choose an option:</p>
  </div>
</div>
<br />
<br />
<br />
<div class="container">
  <div class="row">
    <div class="col">
      <span class="category">Exercise</span>
      <br />
      <li>Motivation</li>
      <li>Stress Relief</li>
      <li>Mental Relief</li>
    </div>
    <div class="col">
      <span class="category">Nutrition</span>
      <br />
      <li>Eat healthier</li>
      <li>Drink more water</li>
      <li>Lower calorie intake</li>
    </div>
    <div class="col">
      <span class="category">Mindfullness</span>
      <br />
      <li>Lose weight</li>
      <li>Try a new exercise</li>
      <li>Get swole</li>
    </div>
  </div>
</div>
