<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Goals Page</h1>
    <br />
    <p class="lead">Choose an option:</p>
  </div>
</div>
<br />
<br />
<br />
<div class="container">
  <div class="row">
    <div class="col">
      <span class="category">Exercise</span>
      <br />
      <li>option 1</li>
      <li>option 2</li>
      <li>option 3</li>
    </div>
    <div class="col">
      <span class="category">Nutrition</span>
      <br />
      <li>option 1</li>
      <li>option 2</li>
      <li>option 3</li>
    </div>
    <div class="col">
      <span class="category">Mindfullness</span>
      <br />
      <li>option 1</li>
      <li>option 2</li>
      <li>option 3</li>
    </div>
  </div>
</div>
