h2 {
  color: #33484d;
}
body {
  text-align: center;
  border-style: solid;
  border-color: #33484d;
  border-width: thick;
}
img {
  height: 200px;
}

button {
  color: #ebbf58;
  background-color: #33484d;
  border-color: #3d655d;
}
.form-check {
  text-align: center;
}
.text {
  color: #33484d;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.first-color {
  background: #ebbf58;
}

.second-color {
  background: #769353;
}

.third-color {
  background: #3d655d;
}

.fourth-color {
  background: #33484d;
}

.category {
  font-family: "Bebas Neue", cursive;
}
h1 {
  color: #2b580c;
  font-weight: 350;
}

li {
  font-family: var(--bs-body-font-family);
}
.category {
  font-size: larger;
}
.category:hover {
  color: #d36239;
  transition: ease-in-out;
  transition-duration: 100ms;
}
