<br />
<br />
<br />
<br />
<br />
<br />
<h1>Welcome to Growth!</h1>
<p>Please Login to Continue</p>
<h3 *ngIf="error">Username or Password Incorrect</h3>
<!-- Creating a form to submit login information -->
<div class="login-container">
  <form id="login" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label" for="Username"> Username:</label>
      <input
        class="form-control"
        id="Username"
        name="Username"
        required
        [(ngModel)]="Username"
        type="text"
      />
    </div>
    <div class="mb-3">
      <label class="form-label" for="Password"> Password:</label>
      <input
        class="form-control"
        id="Password"
        name="Password"
        required
        [(ngModel)]="Password"
        type="password"
      />
    </div>
    <div class="mb-3">
      <label class="form-label" for="Email"> Email:</label>
      <input
        class="form-control"
        id="Email"
        name="Email"
        required
        [(ngModel)]="Email"
        type="text"
      />
    </div>
    <input type="submit" value="Login" />
  </form>
</div>
